.entity-node {
  margin: 0.2em 0;
  & > .title {
    color: $grey-700;
    vertical-align: middle;
    display: table;
    margin-right: 0.1em;
    & > .name {
      display: table-cell;
      width: 100%;
      border-radius: 0.1em;
      padding: 0.3em 0.3em;
      margin-left: 1.5em;
      vertical-align: middle;
      &:hover {
        background-color: $blue-200;
        color: $blue-800;
      }
    }
    & > .handle {
      display: table-cell;
      min-width: 2em;
      padding: 0.3em 0;
      text-align: center;
      vertical-align: middle;
      font-size: 0.7em;
      color: $green-800;
      &:hover {
        color: $green-600;
      }
    }
  }
  & > .children {
    &:before {
      content: '';
      display: block;
      position: absolute;
      border-left: 1px solid $grey-400;
      top: 0;
      left: -0.5px;
      bottom: 0.7em;
      z-index: 0;
    }
    position: relative;
    padding: 0;
    padding-left: 0.3em;
    margin: 0;
    margin-left: 1.7em;
    list-style-type: none;
    & > .entity-node {
      margin-left: 0;
      position: relative;
      z-index: 1;
      & > .children {
        margin-left: 0.7em;
      }
      & > .title {
        margin-left: -1em;
      }
    }
  }
  &.parent {
    & > .title > .handle {
      &:after {
        @include fa-icon();
        content: $fa-var-plus;
        background-color: $grey-100;
        padding: 0.1em 0;
      }
    }
    &.open {
      & > .title > .handle {
        &:after {
          @include fa-icon();
          content: $fa-var-minus;
        }
      }
    }
  }
  &.matched {
    & > .title > .name {
      background-color: $orange-300;
      color: $orange-800;
      &:hover {
        background-color: $blue-200;
        color: $blue-800;
      }
    }
  }
  &.orphan {
    & > .title > .name {
      background-color: $red-200;
      color: $red-800;
      &:hover {
        background-color: $red-300;
        color: $red-800;
      }
      & > .orphan {
        color: $red-500;
        font-size: 0.8em;
        padding-left: 0.2em;
      }
    }
    &.selected > .title > .name {
      background-color: $red-700;
      color: $red-100;
      & > .orphan {
        color: $red-300;
      }
    }
  }
  &.dragging {
    opacity: .50;
  }
  &.selected > .title > .name {
    background-color: $blue-600;
    color: $blue-100;
  }
}

.entity-list.over {
  background-color: $blue-200;
}
