.entity-component {
  & > .header > .header-content {
    & > .title {
      float: left;
    }
    & > .remove-button {
      float: right;
      display: inline-block;
      vertical-align: middle;
      margin: auto 0;
      margin-right: -0.4em;
      padding: 0 0.5em;
      box-sizing: border-box;
      cursor: pointer;
      color: $red-800;
      &:hover {
        color: $red-700;
      }
      &:after {
        @include fa-icon();
        font-size: 0.9em;
        content: $fa-var-minus;
      }
    }
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
}
