.filter-list-component {
  display: flex;
  flex-direction: column;
  font-size: 0.85em;
  height: 100%;

  & > .header {
    flex: 0 0;
    & > input {
      margin: 0;
      padding: 0.3em 0.5em;
    }
  }
  & > .content {
    flex: 1 1 auto;
    height: 0;
    & > ul {
      list-style-type: none;
      box-sizing: border-box;
      padding: 0.2em 0;
      margin: 0;
      height: 100%;
      overflow-y: scroll;
      & > li {
        margin: 0.2em 0;
        padding: 0.2em 0.5em;
        border-radius: 0.1em;
        color: $grey-700;
        &:hover {
          background-color: $blue-200;
          color: $blue-800;
        }
        &.active {
          background-color: $blue-600;
          color: $blue-100;
        }
      }
    }
  }
}
