.entity-component-transform {
  & > .content {
    display: flex;
    align-items: stretch;
    // This is really awful.
    & > .field-component {
      flex: 1 1 auto;
      width: 0;
      margin: 0;
      overflow: hidden;
      display: block;
      & > .content, & > .label {
        display: block;
        padding: 0;
        text-align: center;
        width: 100%;
      }
      & > .content {
        font-size: 0.9em;
      }
    }
  }
}
