.field-component {
  margin: 0.6em 0;
  & > label {
    display: table;
    width: 100%;
    & > .label {
      display: table-cell;
      width: 6em;
      text-align: right;
      padding: 0 0.5em;
      font-weight: bold;
      color: $grey-700;
      vertical-align: middle;
    }
    & > .content {
      display: table-cell;
      vertical-align: middle;
      width: auto;
      & > .readonly {
        padding: 0.3em;
      }
    }
    @media screen and (max-width: $tiny-size) {
      display: block;
      & > .label {
        display: block;
        width: 100%;
        text-align: left;
        padding: 0.5em 0;
        padding-top: 0;
      }
      & > .content {
        display: block;
      }
    }
  }
}
