.grid-entry-component {
  & > .title {
    color: $grey-600;
    margin: 0.5em 0;
    font-size: 0.95em;
    font-weight: normal;
    text-align: left;
  }
  & > .content {
    margin: 1em 0.5em;
    margin-bottom: 0.6em;
    color: $grey-800;
    input {
      width: 100%;
    }
  }
  background-color: $grey-100;
  border: 1px solid $grey-400;
  padding: 0.5em 0.8em;
  border-radius: 2px;
  max-width: 100vw;
  box-sizing: border-box;
}
