.number-input-component {
  & > input {
    width: 100%;
  }
  &.locked > input {
    border-color: $blue-500;
    &:hover {
      border-color: $blue-500;
    }
  }
  &.degree {
    // What the heck
    position: relative;
    & > input {
      text-align: right;
    }
    &:after {
      content: '°';
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
