.outline-pane {
  & > .header > .header-content {
    & > .title {
      float: left;
    }
    & > .add-button {
      float: right;
      display: inline-block;
      vertical-align: middle;
      margin: auto 0;
      margin-right: -0.2em;
      padding: 0 0.5em;
      box-sizing: border-box;
      cursor: pointer;
      color: $green-800;
      &:hover {
        color: $green-700;
      }
      &:after {
        @include fa-icon();
        font-size: 0.9em;
        content: $fa-var-plus;
      }
    }
  }
  & > .content {
    padding: 0.2em;
  }
}
